$lightGreen: #f1e7d3;
* {
   margin: 0;
   padding: 0;
   transition: all 0.2s;
}
h1 {
   font-size: 20px !important;
}
p {
   font-size: 14px !important;
}

.mainparent {
   position: relative;
   z-index: 999;
   .close {
      display: none;
      transition: all 0.5s;
      cursor: pointer;
      z-index: 9999;
      font-size: 20px;
      background-color: red;
      position: fixed;
      top: 200px;
      left: 100px;
      border-radius: 50%;
      padding: 15px;
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
   }
   .newclose {
      display: none;
      cursor: pointer;
      z-index: 9999;
      font-size: 13px;
      background-color: green !important;
      color: rgb(248, 248, 248);
      position: fixed;
      top: 180px;
      left: 10px;
      border-radius: 50%;
      padding: 30px;
      width: 10px;
      height: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
.editPencils {
}
.whattodo {
   border: 4px dashed $lightGreen;
   z-index: 9991;
   position: fixed;
   height: 100px;
   width: 100px;
   left: 20px;
   top: 200px;
   background-color: black;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;

   .clicktoggle {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 11px;
      width: 150px;
      cursor: pointer;
      h1 {
         font-size: 12px !important;
         padding: 0 !important;
         margin: 0 !important;
      }
      p {
         font-size: 14px !important;
         padding: 0 !important;
         margin: 0 !important;
      }
   }
   .whatnottodo {
      display: none;
   }
   .all {
      color: black;
      p {
         background-color: #333;
         color: white;
         &:hover {
            cursor: pointer;
         }
      }
   }

   .default {
      overflow: hidden;
      background-color: white;
      display: flex;
      align-items: left;
      margin-left: 15px;
      text-align: left;
      justify-content: center;
      height: 150px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      p {
         font-size: 10px;
      }
      li {
         font-size: 14px !important;
      }
   }
   .todolist {
      transition: all 1s;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      background: white;
      position: absolute;
      left: 100px;
      width: 300px;
      text-align: center;
      padding: 5px;
      min-height: 235px;
   }
   .all > p {
      padding: 10px 0;
      margin: 10px 0;
   }
   .todoNotlist {
      display: none;
   }
   .fakeApi {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      height: 0;
   }
}

.app {
   font-family: arial;
   display: flex;
   justify-content: center;
   .container {
      // login & register
      width: 1124px;
      .link {
         text-decoration: none;
         color: inherit;
      }
      .link-2 {
         background: #333 !important;
         color: white;
         border-radius: 4px;
         border: 1px solid white;
         width: 90px;
         padding: 4px;
         font-size: 16px;

         &:hover {
            background-color: white !important;
            border: 1px solid #333;
            color: black;
         }
      }

      .auth {
         top: -100px;
         left: 0;
         position: absolute;
         margin-top: 100px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         background: url("https://images.pexels.com/photos/267569/pexels-photo-267569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
         object-fit: contain;
         background-repeat: no-repeat;
         width: 100%;
         object-fit: cover;
         height: 100vh;
         background-size: cover;

         h1 {
            font-size: 20px;
            color: rgb(76, 12, 12);
            margin-bottom: 20px;
         }

         form {
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            padding: 50px;
            background-color: white;
            width: 330px;
            gap: 20px;
            position: relative;
            a {
               font-size: 20px;
            }
            p {
               text-align: center;
            }
            .testUser {
               position: absolute;
               top: 0px;
               left: -183px;
               background-color: #333;
               color: white !important;
               padding: 10px;
               border-radius: 6px;
               font-size: 15px;
            }

            input {
               padding: 10px;
               border: none;
               border-bottom: 1px solid grey;
            }
            button {
               padding: 10px;
               border: none;
               color: white;
               background-color: teal;
            }
            button:hover {
               cursor: pointer;
            }

            span {
               font-size: 12px;
               text-align: center;
            }
         }
      }

      // Navbar
      .newnavbar {
         z-index: 999;
         background-color: $lightGreen;
         color: black !important;
      }
      .navbar {
         width: 100%;
         color: black;
         position: fixed;
         left: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         .container {
            padding: 10px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
               color: #333;
            }
            .loginName {
               margin: 0 20px;
               position: relative;

               .profilename {
                  // background-color: #b9e7e7;
                  color: #333;
                  padding: 7px;
                  border-radius: 4px;
                  margin-right: 10px;
                  border: 1px solid black;
                  &:hover {
                     background-color: white;
                     border: 1px solid black;
                  }
               }
               .logooutbutton {
                  background-color: #333;
                  color: white;
                  padding: 7px;
                  border-radius: 6px;
                  &:hover {
                     background-color: rgb(233, 49, 49);
                  }
               }
            }

            .links {
               display: flex;
               align-items: center;
               gap: 10px;
               font-size: 14px;
               font-weight: bold;
               a {
                  font-weight: 100;
                  margin: 0 3px;
               }

               h6 {
                  font-size: 16px;
                  font-weight: 300;
               }
               span {
                  cursor: pointer;
               }
               .write {
                  background-color: $lightGreen;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  align-items: center;
                  font-weight: 300;
                  display: flex;
                  justify-content: center;
                  border: 1px solid white;
                  font-size: 16px;

                  &:hover {
                     color: teal;
                     background-color: white;
                     border: 1px solid teal;
                     padding: 5px;
                  }
               }
            }
         }
      }
      .profile {
         margin-top: 120px !important;
         h1 {
            font-size: 20px !important;
            margin-bottom: 30px;
         }

         img {
            object-fit: cover;
            height: 120px;
            width: 120px;
            border-radius: 50%;
            border: 2px solid #333;
         }
         .profileEdit {
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 50px;
            width: 500px;
            display: flex;
            justify-content: space-between;
         }
         .profileInputs {
            width: 300px;
            height: 150px;
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;
            button {
               background-color: green;
               color: white;
               padding: 3px;
            }
         }
         .ImageAndDelete {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .editPencil {
               display: flex;
               gap: 10px;
               align-items: center;
               justify-content: center;
               cursor: pointer;
               p {
                  padding: 0;
                  margin: 0;
                  font-size: 16px !important;
               }
            }
            .pencil {
               border: 1px solid white;
            }
         }
      }

      // FOOTER

      footer {
         margin-top: 200px;
         padding: 20px;
         // background-color: $lightGreen;
         display: flex;
         align-items: center;
         justify-content: space-between;
         font-style: 12px;
         color: #555;
      }

      // Homepage

      .home {
         margin-top: 130px;
         .posts {
            margin-top: 130px;
            display: flex;
            flex-direction: column;
            gap: 150px;
            .cat {
               font-size: 17px;
               margin: 10px 0;
               font-style: italic;
            }
            .post {
               display: flex;
               gap: 100px;

               &:nth-child(2n + 1) {
                  flex-direction: row-reverse;
               }

               .img {
                  flex: 2;
                  position: relative;

                  &::after {
                     content: "";
                     width: 100%;
                     height: 100%;
                     background-color: $lightGreen;
                     position: absolute;
                     top: 20px;
                     left: -20px;
                     z-index: -1;
                  }
                  img {
                     width: 100%;
                     max-height: 400px;
                     object-fit: cover;
                  }
               }

               .content {
                  flex: 3;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;

                  h1 {
                     font-size: 40px !important;
                  }
                  p {
                     font-style: 18px;
                     line-height: 28px;
                     font-size: 19px;
                  }
                  button {
                     width: max-content;
                     padding: 10px 20px;
                     border: none;
                     cursor: pointer;
                     background-color: white;
                     border: 1px solid teal;
                     color: teal;
                     &:hover {
                        border: 1px solid white;
                        background-color: $lightGreen;
                        color: black;
                     }
                  }
               }
            }
         }
      }
      // SINGLE POST
      .single {
         margin-top: 120px;
         display: flex;
         gap: 50px;
         position: relative;

         p {
            padding: 0;
            margin: 0;
         }

         .content {
            flex: 5;
            display: flex;
            flex-direction: column;
            gap: 30px;

            img {
               width: 100%;
               height: 300px;
               object-fit: cover;
               position: relative;
            }
            .user {
               display: flex;
               align-items: center;
               gap: 10px;
               font-style: 14px;
               img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  object-fit: cover;
               }

               span {
                  font-weight: bold;
               }
            }

            .edit {
               display: flex;
               gap: 10px;

               a,
               span {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  background: $lightGreen;
                  width: 35px;
                  height: 35px;
                  color: green;
                  cursor: pointer;
                  &:hover {
                     transform: scale(1.5);
                  }
               }
               .delete {
                  color: red !important;
                  &:hover {
                     transform: scale(1.5);
                  }
               }
            }
            h1 {
               font-style: 42px;
               color: #333;
            }
            p {
               text-align: justify;
               line-height: 30px;
            }
         }
         .menu {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 25px;

            h1 {
               font-size: 15px;
               color: #555;
            }
            .post {
               display: flex;
               flex-direction: column;
               gap: 10px;
               margin-bottom: 15px;
            }
            img {
               width: 100%;
               height: 200px;
               object-fit: cover;
            }

            h2 {
               color: #555;
               font-size: 26px;
            }

            button {
               width: max-content;
               padding: 10px 20px;
               border: none;
               cursor: pointer;
               background-color: white;
               border: 1px solid teal;
               color: teal;
               &:hover {
                  border: 1px solid white;
                  background-color: $lightGreen;
                  color: black;
               }
            }
         }
      }

      // Profile
      .profile {
         .welcome-message {
            h1 {
            }
         }
         .modal {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #333;
            color: white;
            flex-direction: column;
            margin: 0 auto;
            padding: 5;
            width: 300px;
            border-radius: 6px;
            text-align: center;
            height: 200px;
            top: 30%;
            margin: 0 auto;
            padding: 10px;
            h3 {
               font-size: 20px;
            }
            .modalbuttons {
               display: flex;
               gap: 30px;
               justify-content: space-between;
               button {
                  cursor: pointer;
                  padding: 7px;
                  width: 90px;
                  margin-top: 30px;
               }
            }
         }
         .userlist {
            border: 1px solid rgba(0, 0, 0, 0.177);
            padding: 30px;
            display: flex;
            gap: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
         }

         .leftside {
            width: 50%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            font-size: 17px;
            padding: 5px;
            max-height: 600px;
            overflow-y: scroll;
            .deleteme {
               font-size: 15px;
               padding: 5px;
               font-weight: bold;
               color: red;
            }
         }
         .rightside {
            padding: 5px;
            width: 50%;
            display: flex;
            padding: 0 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            max-height: 600px;
            overflow-y: scroll;
            .ThisUserPosts {
               font-weight: bold;
               margin-top: 15px;
            }

            .post-list {
               display: flex;
               flex-direction: column;
               overflow: hidden;
               padding: 9px;
               border-bottom: 2px solid #333;
               margin: 20px 0;

               .post-list-title {
                  font-size: 22px;
                  font-weight: bold;
               }

               div {
                  background-color: #333;
                  color: white;
                  text-align: center;
                  width: 100px;
                  padding: 5px;
                  border-radius: 3px;
                  font-size: 16px;
                  border: 1px solid #333;
               }
            }
         }
         .users {
            margin: 5px 0;
            display: flex;
            // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin: 5px 0;
            background-color: #cee4e4;
            padding: 5px;
            border-radius: 6px;

            &:hover {
               background-color: #d5caca;
               color: #333;
            }

            .users-left {
               display: flex;
               flex-direction: column;
               width: 80%;
               margin: 8px;
               cursor: pointer;
               p {
                  margin-bottom: 0px;
               }
            }
            .users-right {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 20%;
               background-color: white;
               border-radius: 6px;
               position: relative;

               &:hover {
                  cursor: pointer;
                  background-color: #ffe1d7;
                  color: white;
               }
            }
            .adminsymbol {
               width: 100%;
               height: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
               cursor: not-allowed;
            }
            .deleteme {
               width: 100%;
               height: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
            }
            .users-right2 {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 20%;
               background-color: white;
               border-radius: 6px;
               position: relative;
               cursor: pointer;
            }
         }
      }
      // WRITE

      .add {
         margin-top: 120px !important;
         font-size: 14px;
         margin-top: 20px;
         display: flex;
         gap: 20px;

         .content {
            flex: 5;
            display: flex;
            flex-direction: column;
            gap: 20px;

            input {
               padding: 10px;
               border: 1px solid lightgray;
            }

            .editorContainer {
               height: 320px;
               overflow-y: scroll;
               overflow-x: hidden;
               border: 1px solid lightgray;

               .editor {
                  height: 100%;
                  border: none;
               }
            }
         }

         .menu {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .item {
               border: 1px solid lightgray;
               padding: 10px;
               flex: 1;
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               font-style: 12px;
               color: #555;

               h1 {
                  font-style: 20px;
               }

               .file {
                  text-decoration: underline;
                  cursor: pointer;
                  &:hover {
                     background-color: $lightGreen !important;
                     color: black !important;
                  }
               }

               .buttons {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 15px;
                  label,
                  button {
                     padding: 10px !important;
                  }
                  :first-child {
                     cursor: pointer;
                     background-color: white;
                     color: teal;
                     border: 1px solid teal;
                     padding: 3px 5px;
                  }
                  :last-child {
                     cursor: pointer;
                     background-color: teal;
                     color: white;
                     border: 1px solid teal;
                     padding: 3px 5px;
                  }
               }
               .cat {
                  display: flex;
                  align-items: center;
                  gap: 2px;
                  color: teal;
               }
            }
         }
      }
   }
}
.carouselparent {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: $lightGreen;
   gap: 15px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.infomain {
   width: 40%;
   height: 100%;
   flex-direction: column;
   display: flex;
   justify-content: center;
   padding: 10px;
   margin-left: 15px;
   p {
      font-style: italic;
      font-size: 16px !important;
   }

   h1 {
      margin-bottom: 10px;
      font-size: 30px !important;
      font-weight: bolder;
   }
   a {
      display: flex;
      align-items: center;
      text-align: center;
      padding: 10px;
      display: inline;
      border: 2px solid white;
      &:hover {
         background-color: white;
         color: #333;
         border: 2px solid #333;
      }
   }
}
.carousel {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 500px;
   margin: auto;
   z-index: 9;
   color: black;
   p {
      background-color: rgba(0, 0, 0, 0.429);
      padding: 10px;
      font-size: 14px !important;
   }

   h1 {
      font-size: 35px !important;
      background-color: rgba(0, 0, 0, 0.429);
      padding: 10px;
      border-radius: 6px;
   }
   .carouselItem {
      object-fit: cover;
      background-color: rgb(0, 0, 0);
      img {
         height: 500px;
         width: 100%;
      }
   }
}

@media only screen and (max-width: 1000px) {
   .post {
      display: flex !important;
      flex-direction: column !important;
      padding: 0 20px;
      margin: 0 20px;
      img {
         width: 75%;
      }
   }
   .carouselparent {
      margin-top: 200px;
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
   }
   .infomain {
      width: 100%;
   }
   .logo {
      display: none;
   }
   .navbar {
      padding: 0;
   }
}
